@keyframes moveLeft {
  /*animation start*/
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  /*animation before ends*/
  80% {
    transform: translateX(1rem);
  }
  /*animation end*/
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveRight {
  /*animation start*/
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  /*animation before ends*/
  80% {
    transform: translateX(-1rem);
  }
  /*animation end*/
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveUp {
  /*animation start*/
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  /*animation before ends*/
  80% {
    transform: translateY(-1rem);
  }
  /*animation end*/
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
