.u-center-text {
  text-align: center !important;
}

.u-margin-buttom-4 {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-buttom-8 {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-8 {
  margin-top: 8rem !important;
}
